/*
------------------------------------------------------------------
	
	- Document: app.config.less
	- Version:  1.0.0
	- Author:   http://yojam.es

/*------------------------------------------------------------------
[ Vendor ]
-------------------------------------------------------------------*/
	
	@import "normalize.less";
	@import "preboot.less";


/*------------------------------------------------------------------
[ Variables ]
-------------------------------------------------------------------*/
	
	// Breakpoints
	@apptabletUp: ~"(min-width: 768px)";
	@appdesktopUp: ~"(min-width: 960px)";
	@appbeyondDesktop: ~"(min-width: 1281px)";
	@appmax: ~"(min-width: 1401px)";

	// Font vars
	@baseFont: "Helvetica Neue", Helvetica, Arial, sans-serif;

	// Typography / Grid
	
	@baseLineHeight: 18px;
	@baseFontSize:   14px; 

	// colours Hex
	@appGrey: 	#F2F2F2;
	@appBlack: 	#1a1a1a;
	@appWhite: 	#ffffff;


/*------------------------------------------------------------------
[ Mixins ]
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[ Typog resets ]
-------------------------------------------------------------------*/
	
	*{
		margin:0;
		padding:0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box; 
		box-sizing: border-box;
	}

	html,
	body {
		height: 100%;
		width: 100%;
		font-family: @baseFont;
		background-color: @appGrey;
		-webkit-text-size-adjust: 100%; 
		-ms-text-size-adjust: 100%;
		-webkit-tap-highlight-color: rgba(0,0,0,0);

		&.loading {
		
		}

		h1,
		h2,
		h3,
		h4, 
		h5, 
		h6{
			font-weight: normal;
		}

		b{
			font-weight: normal;	
		}
	}

	a{
		text-decoration: none;
		color: @appBlack;


		&:hover{
		
		}
	}

	ul{
		margin:0;
		padding:0; 
	
		li{
			list-style-type:none; 
		}
	}
	
	::selection {
		background: @appBlack;
		color: @appWhite;
	}

	::-moz-selection {
		background: @appBlack;
		color: @appWhite;
	}

	img::selection {
		background: transparent;
	}

	img::-moz-selection {
		background: transparent;
	}


/*------------------------------------------------------------------
[ Common ]
-------------------------------------------------------------------*/
	
	@import "app.common.less";


/*------------------------------------------------------------------
[ Module ]
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[ Layout ]
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[ Animation ]
-------------------------------------------------------------------*/
	
	@import "app.easing.less";
	


